<!DOCTYPE html5>
<html>
  {% include 'header.html' %}

<script src="{{ url_for('static', filename='js/loading.js') }}"></script>
<body>
<div id="page">

<h2>Dispositivos</h2>

{{ devices }}

<h2>Automações</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Descrição</th>
    <th> </th>
  </tr>
  <tr>
    <td> 1 </td>
    <td> Unfollow em todos os perfis que estou seguindo</td>
    <td> 
      <form action="/run" method="post">
        <input type="hidden" name="feature" value="unfollow_all" />
        <button type="submit" value="Run">Executar </button>
     </form>  
    </td>
  </tr>
  <tr>
    <td> 2 </td>
    <td> Unfollow nos perfis que não me seguem de volta</td>
    <td> 
      <form action="/run" method="post">
        <input type="hidden" name="feature" value="unfollow_unfollowers" />
        <button type="submit" value="Run"> Executar </button>
     </form>  
    </td>
  </tr>
</table>

</body>

</div>
<div id="loading"></div>
</html>

