@font-face{
    font-family: poppins;
    src: url('Poppins-Regular.otf');
    font-weight: bold;}
    
    body {font-family: poppins; color:black}
    h1 {font-family: poppins; color: black}

table {
    font-family: poppins, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .center {
    text-align: center;
  }
  
#page {
display: none;
}

#loading {
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 100;
width: 100vw;
height: 100vh;
background-color: rgba(192, 192, 192, 0.5);
background-image: url("http://i.stack.imgur.com/MnyxU.gif");
background-repeat: no-repeat;
background-position: center;
}